body{
	background-color:#ab9926;
}

h2{
	color:black;
	font-size:50px
}
h1{
	color:white;
	font-size:70px
	
}
h3{
	color:white;
	font-size:30px
}
p{
	color:white;
	font-size:30px
	
}
ul{
	font-size:25px
	
}

